<div id='converted_value_div'>
    <h5> Curency Calculator</h5>
    <p><%= "#{@from_curr} to #{@to_curr}" %></p>
    <p>
        <%= "#{@original_amt} #{@from_curr}  = #{@converted_value} #{@to_curr}" %>
    </p>
</div>